@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import 'react-toastify/dist/ReactToastify.css';
@import 'react-phone-number-input/style.css';
@import 'reactjs-popup/dist/index.css';
@import "react-datepicker/dist/react-datepicker.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --PhoneInputCountrySelectArrow-color: #FFFFFF;
  --PhoneInputCountrySelectArrow-color--focus: #d0bf79;
  --PhoneInputCountryFlag-borderColor: #FFFFFF;
  --PhoneInputCountryFlag-borderColor--focus: #FFFFFF;
  --PhoneInput-color--focus: #FFFFFF;
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #ececec -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  overflow-x: hidden;
}

* {
  scroll-behavior: smooth;
}

.loading-overlay .css-df17o1 {
  position: fixed;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 16px;
}

.toast-style {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 13px;
}

.ul-navbar {
  gap: 25px;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fdf5df 0.89%,
    #f1e6c6 17.23%,
    #eee0b2 42.04%,
    #c7be99ff 55.12%,
    #d0bf79 71.54%,
    #b0a265 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-black-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #26261f 91.61%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-yellow-gradient {
  background: linear-gradient(
    157.81deg,
    #fdf5df 0.89%,
    #f1e6c6 17.23%,
    #eee0b2 42.04%,
    #c7be99ff 55.12%,
    #d0bf79 71.54%,
    #b0a265 100%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #000000 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.not-confirmed {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

input, .phone {
  border: 1px solid white;
  width: 100%;
  background: transparent;
  border-radius: 10px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  color: rgb(255, 255, 255);
}

.error {
  border: 1px solid rgb(220 38 38);
  color: rgb(220 38 38);
}

.PhoneInput select {
  color: black;
}

.PhoneInput input {
  border: 0;
}

input[type="checkbox"] {
  padding: 0;
  width: unset;
}

input[type="file"] {
  position: relative;
  height: 100%;
  border: 0.01rem white solid;
  outline: none;
  font-size: 13px;
  padding: 8px;
}

.popup-content {
  border: none;
  padding: 0;
  outline: none;
  border-radius: 10px;
  background: transparent;
}

.modal {
  border-radius: 10px;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  color: white;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 12px;
  padding: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.modal > .header {
  width: 100%;
  font-size: 24px;
  text-align: center;
}

.modal > .content {
  width: 100%;
  padding: 25px 0;
  font-size: 14px;
}

.modal > .actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 10px 5px;
  gap: 20px;
  margin: auto;
  text-align: center;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px;
  outline: none;
  color: black;
  font-size: 25px;
  line-height: 25px;
  background: linear-gradient(
    157.81deg,
    #fdf5df 0.89%,
    #f1e6c6 17.23%,
    #eee0b2 42.04%,
    #c7be99ff 55.12%,
    #d0bf79 71.54%,
    #b0a265 100%
  );
  border-radius: 5px;
  border: 1px solid black;
}

input[type=file]::file-selector-button {
  background: linear-gradient(
    157.81deg,
    #fdf5df 0.89%,
    #f1e6c6 17.23%,
    #eee0b2 42.04%,
    #c7be99ff 55.12%,
    #d0bf79 71.54%,
    #b0a265 100%
  );
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  color: black;
  cursor: pointer;
  transition: background .2s ease-in-out;
  border: none;
  outline: none;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #b0a265 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #d0bf79 0%, #b0a265 100%);
  filter: blur(900px);
}

.li-circle {
  list-style: inside;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.64);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.4);
  filter: blur(750px);
}

.waves {
  position: relative;
  width: 100%;
  margin-bottom: -7px;
  max-height: 300px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%;
}

.react-datepicker {
  border: none;
  outline: none;
  border-radius: 10px;
  font-family: Poppins, sans-serif;
}

.react-datepicker-popper {
  z-index: 99;
}

.react-datepicker__header {
  background: linear-gradient(
    157.81deg,
    #fdf5df 0.89%,
    #f1e6c6 17.23%,
    #eee0b2 42.04%,
    #c7be99ff 55.12%,
    #d0bf79 71.54%,
    #b0a265 100%
  );
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.react-datepicker__month {
  font-family: Poppins, serif;
}

.react-datepicker__day--selected {
  background: linear-gradient(
    157.81deg,
    #fdf5df 0.89%,
    #f1e6c6 17.23%,
    #eee0b2 42.04%,
    #c7be99ff 55.12%,
    #d0bf79 71.54%,
    #b0a265 100%
  );
}

.room-type-background-image {
  background: url("https://images.ctfassets.net/rxqefefl3t5b/2MvpllaTS44GZBPDvxPip6/22fb7211be34011ef52eaff3eb26a77e/shutterstock_444622738.jpg?fl=progressive&q=80") no-repeat;
  background-size: cover;
}

.custom-overlay {
  background: rgba(0, 0, 0, 0.78);
  background-size: cover;
}

.custom-hidden {
  display: none;
}

.custom-hidden .react-datepicker-wrapper {
  display: none;
}

.bg-flight-form-image {
  border-radius: 10px;
  width: 100%;
  min-height: 500px;
  background-image: url(assets/flight.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.popup-arrow {
  display: none;
}